@use '../../variables' as var;
@use '../../utilityClasses' as utils;
@use '../../mediaQuery' as media;

.container{
    margin-top: var.$NavHeight;
}

.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 1em 1.5em;
    position: relative;
    background: var.$light-color;
    box-shadow: 0px 3px 4px transparentize(var.$dark-color, 0.8);

    @include media.desktop1000{
        padding: 5em 1em 1.5em;
    }

    .searchBar{
        width: min(90%, 500px);
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        z-index: 1000;
        height: 2.5rem;
        display: flex;
        align-items: center;
        box-shadow: 2px 5px 15px rgba(0,0,0,0.2);
        overflow: hidden;
        border-radius: 5px;

        @include media.desktop1000{
            transform: translateY(50%);
        }

        input{
            width: 100%;
            height: 100%;
            padding: 0.5em 2.5em;
            font-size: 1.1rem;
            border: none;
            border-radius: 5px;
        }

        .searchIcon, .closeIcon{
            position: absolute;
            font-size: 1.2rem;
        }

        .searchIcon{
            color: var.$dark-color;
            margin-left: 0.75em;
            opacity: 0.8;
        }

        .closeIcon{
            color: var.$dark-color;
            right: 0;
            margin-right: 0.75em;
            color: var.$grey-color;
            cursor: pointer;
        }

        
    }

    .serchResult{
        font-size: 2.5rem;
        margin-bottom: 0.25em;
    }

    .serchRelated, .searchRelated__List{
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

   

    .searchRelated__List{
        flex-wrap: wrap;
       
    }

   

    .searchRelated__List a{
        border: 1px solid var.$grey-color;
        padding: 0.25em 1em;
        border-radius: 9999px;
        color: var.$dark-color;
    }
}

.mainContainer{
    background: var.$grey-color;
}

