@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
//*Font Setting*//
$logo-font: 'Rochester', cursive;
$global-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//*Colors Setting*//
$primary-color: #ff6263;
$yellow-color: #d07811;
$green-color: #42c87a;
$dark-color: #0f0f0f;
$light-color: #ffffff;
$grey-color: #abb0ba;
$light-grey-color: #eef0f2;

//*Default Heights
$NavHeight: 80px;