@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

//*Font Setting*//
$logo-font: 'Rochester', cursive;
$global-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//*Colors Setting*//
$primary-color: #ff6263;
$yellow-color: #ec9838;
$green-color: #42c87a;
$dark-color: #0f0f0f;
$light-color: #ffffff;
$grey-color: #abb0ba;
$light-grey-color: #eef0f2;
$red-color: crimson;


//*Default Heights
$NavHeight: 80px;

//*LayoutRadius
$bd-radius: 5px;

//*LayoutWidth
$filterContainerWidth: 300px;
$filterAndCardsContainerGap: 1em;


//*Card Setting
$cardWidth: 16rem;
$cardWidthTablet: 13.5rem;
$cardHeightRatio: 1.2;