@use './variables' as var;
@use './utilityClasses' as utils;


body{
    font-family: var.$global-font;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.link{
    text-decoration: none;
    color: var.$light-color;
    display: inline-block;
}
