@use './variables' as var;
@use './utilityClasses' as utils;
@use './mediaQuery' as media;


:root{

    // --MainHeaderheight: 225px;
    --MainHeaderheight: 80px;

   
}



body{
    font-family: var.$global-font;
    color: var.$dark-color;
    background: var.$light-grey-color;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.link{
    text-decoration: none;
    color: var.$light-color;
    display: inline-block;
}

.mainHeader{
  position: fixed;
   width: 100%;
   top:0;
   left: 0;
   z-index: 1000;
   height: var(--MainHeaderheight);
   background: green;
}

.mainBody{
    margin-top: var(--MainHeaderheight);
    background: var.$light-grey-color;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 2em;
    gap: var.$filterAndCardsContainerGap;
    align-items: flex-start;

    @include media.desktop1000{
        flex-direction: column;
    }
   
}

.cartMain{
    margin-top: var(--MainHeaderheight);
    background: var.$light-grey-color;
    padding: 1.5em 2em;
}

@include media.desktop1000{
    :root{
    --MainHeaderheight: 320px;
    }
}  

 
